body{
    position: relative;
    top: 0px;
    left: 0px;

    margin: 0px;
    padding: 0px;
}

#area-superior{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 200px;

    background-color: #1bdf73;

    overflow-y: scroll;
}

#area-central{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 250px;

    background-color: #7adf1b;

    overflow-y: scroll;
}

#area-inferior{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100px;

    background-color: #b81bdf;

    overflow-y: scroll;
}